<html>
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  </head>
  <body>

    <h1>Login</h1>

    <hr>

    <form>
            Email:<br>
            <input type="text" name="username" id='username'><br>
            Password:<br>
            <input type="text" name="password" id='password'>
    </form>

    <button type="button" class="btn btn-primary" onclick="authorizeUser()">Login</button>

    <script>
    /*
    * sends a get request to /auth on the server
    * recieves a 200 on successful authentication
    * 401 on incorrect passwords
    * 500 on server error
    * 
    * TODO: figure out more about xmlhttprequest
    */
    function authorizeUser(){
      const username = document.getElementById('username').value;
      const password = document.getElementById('password').value;
      const xhr = new XMLHttpRequest();
      xhr.open('POST', `/auth`, true);
      xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
      xhr.onreadystatechange = () => {
          if(xhr.readyState === 4){
              switch(xhr.status) {
                  case 302:
                      const response = JSON.parse(xhr.responseText);
                      window.location.replace(response.url);
                      break;
                  case 401:
                      alert('incorrect password or user not found');
                      break;
                  case 500:
                      alert('server error');
                      break;
                  default:
                      alert('unknown error');
              }
          }
      };
      xhr.send(`username=${username}&password=${password}`);
    }

    /*
    * TODO: REROUTE TO /HOMEPAGE ON SUCCESS
    * trying to route to the /homepage but i can't figure out
    * how to do it right after a successful login
    * 
    * on client or on server?
    */
    function goToHomepage(){
      const xhr = new XMLHttpRequest();
      xhr.open('GET', '/dashboard');
      xhr.onreadystatechange = () => {
          if(xhr.readyState === 4){
            if(xhr.status === 200){
                    
            } else {
              alert('error with something');
            }
          }
      };
      xhr.send();
    }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </body>
</html>